.content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 1em;
  padding: 1em;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 80%;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
}

.text p {
  font-size: 1.3em;
}

.text h3 {
  color: red;
  font-size: 0.9em;
}

.images {
  width: auto;
  height:20%;
}

.eventtitle {
  font-size: 3em;
  font-weight: 700;
  color: black;
}

.eventcard {
  width: fit-content;
  padding: 1em;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  margin-bottom: 0.5em;
}

.map {
  width: 60%;
  height: 400px;
  border-radius: 20px;
  margin-top: 1em;
}

.carouselcon {
  width: 100%;
  border-radius: 20px;
}

.imageca {
  border-radius: 0 0 20px 20px;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    margin-top: 1em;
    flex-direction: column;
  }

  .map {
    width: 100%;
  }

  .text {
    width: calc(100% - 2em);
    margin: 1em;
    
  }

  .imageca {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }
}
