.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
    gap: 1em;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input {
    margin-top: 1em;
}

.buttonjoin {
    background-color: #228be6;
    color: white;
    border: 1px solid transparent;
  }
  
  .buttonjoin:hover {
    background-color: white;
    color: #228be6;
    border: 1px solid #228be6;
  }

  .buttonjoinNO {
    background-color: red;
    color: white;
    border: 1px solid transparent;
  }
  
  .buttonjoinNO:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    width: 100%;
  }
  

.map {
    margin-top: 1em;
    border-radius: 20px;
}

form {
    border-radius: 20px;
    background-color: rgba(229 ,224, 225, 0.2);
    padding: 1em;
}

.smallimg {
    width: 100px;
    height: auto;
    margin: 0.5em;
  }

  .smallimages {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }
}