.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1em;
    gap: 1em;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.input {
    margin-top: 1em;
}

.map {
    margin-top: 1em;
    border-radius: 20px;
}

form {
    border-radius: 20px;
    background-color: rgba(229 ,224, 225, 0.2);
    padding: 1em;
}


@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }
}